.appContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  color: white;
}
.appContainer .containerLeft {
  width: 25vw;
  height: inherit;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  border-radius: 20px;
  background-color: #1B1B1B;
  border: 1px solid gray;
  padding-bottom: 3vh;
}
.appContainer .containerLeft::-webkit-scrollbar {
  width: 1px;
  border-radius: 5px;
}
.appContainer .containerLeft::-webkit-scrollbar-track {
  background-color: #2A3439;
}
.appContainer .containerLeft::-webkit-scrollbar-thumb {
  background: gray;
  /* border-radius: 6px; */
}
.appContainer .containerLeft .content {
  width: 22vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appContainer .containerLeft .containerLeftTop {
  width: inherit;
  height: 50vh;
}
.appContainer .containerLeft .containerLeftTop .icon {
  display: none;
}
.appContainer .containerLeft .containerLeftTop .details {
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  align-items: center;
}
.appContainer .containerLeft .containerLeftTop .name_profession {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}
.appContainer .containerLeft .containerLeftTop .details img {
  width: 15vw;
  height: 30vh;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.appContainer .containerLeft .containerLeftTop .details .name_profession h3 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.appContainer .containerLeft .containerLeftTop .details .name_profession p {
  padding: 4px;
  border-radius: 5px;
  background-color: #3B3C36;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.appContainer .containerLeft .containerLeftBody {
  width: inherit;
  height: max-content;
  margin-top: 5px;
}
.appContainer .containerLeft .containerLeftBody .contact {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  margin-bottom: 2vh;
}
.appContainer .containerLeft .containerLeftBody .contact i {
  color: #228B22 ;
}
.appContainer .containerLeft .containerLeftBody .contact p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.appContainer .containerLeft .containerLeftBody .contact p:first-of-type {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.appContainer .containerLeft .containerLeftBody .contact p:nth-of-type(2) {
  font-size: 0.9rem;
  color: #C0C0C0;
}
.appContainer .containerLeft .containerLeftBody .socialMedia {
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  margin-top: 2vh;
}
.appContainer .containerLeft .containerLeftBody .socialMedia a i {
  color: #228B22;
  font-size: 1.2rem;
}
.appContainer .containerLeft .containerLeftBottom {
  width: inherit;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 2vh;
  padding-top: 1vh;
  border-top: 1px solid #228B22;
}
.appContainer .containerLeft .containerLeftBottom div {
  width: inherit;
  /* background-color: red; */
}
.appContainer .containerLeft .containerLeftBottom div p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.appContainer .containerLeft .containerLeftBottom div p i {
  color: #228B22;
}
.appContainer .containerLeft .containerLeftBottom div section {
  display: flex;
  gap: 0.5vw;
  align-items: center;
  margin-bottom: 1vh;
  color: #C0C0C0;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.appContainer .containerRight {
  width: 60vw;
  height: inherit;
  border-radius: 20px;
  background-color: #1B1B1B;
  border: 1px solid gray;
}
.appContainer .containerRight .top {
  width: inherit;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  border-bottom: 1px solid #228B22;
}
.appContainer .containerRight .top button {
  background-color: #1B1B1B;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.appContainer .containerRight .top button.active {
  color: #228B22;
}
.appContainer .containerRight .contentSection {
  width: inherit;
  height: 80vh;
  overflow-y: scroll;
}
.appContainer .containerRight .contentSection::-webkit-scrollbar {
  width: 1px;
  border-radius: 5px;
}
.appContainer .containerRight .contentSection::-webkit-scrollbar-track {
  background-color: #2A3439;
}
.appContainer .containerRight .contentSection::-webkit-scrollbar-thumb {
  background: gray;
  /* border-radius: 6px; */
}

/* Styling the about page */
.appContainer .containerRight .contentSection .aboutContainer,
.appContainer .containerRight .contentSection .resumeContainer,
.appContainer .containerRight .contentSection .portfolioContainer,
.appContainer .containerRight .contentSection .contactContainer {
  /* width: inherit; */
  height: max-content;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5vh;
}
.appContainer .containerRight .contentSection .aboutContainer h2,
.appContainer .containerRight .contentSection .resumeContainer h2,
.appContainer .containerRight .contentSection .portfolioContainer h2,
.appContainer .containerRight .contentSection .contactContainer h2 {
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 0.5vh;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.appContainer .containerRight .contentSection .aboutContainer #underline,
.appContainer .containerRight .contentSection .resumeContainer #underline,
.appContainer .containerRight .contentSection .portfolioContainer #underline,
.appContainer .containerRight .contentSection .contactContainer #underline {
  display: flex;
  justify-content: center;
}
.appContainer .containerRight .contentSection .aboutContainer #underline span,
.appContainer .containerRight .contentSection .resumeContainer #underline span,
.appContainer .containerRight .contentSection .portfolioContainer #underline span,
.appContainer .containerRight .contentSection .contactContainer #underline span {
  width: 5vw;
  height: 5px;
  border-radius: 10px;
  background-color: #228B22;
}
.appContainer .containerRight .contentSection .aboutContainer #bio {
  padding: 15px;
  letter-spacing: 1px;
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .aboutContainer .expertise {
  width: inherit;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 15px;
}
.appContainer .containerRight .contentSection .aboutContainer .expertise .specialty {
  width: 27vw;
  height: max-content;
  display: flex;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #3B3C36;
  /* box-shadow: 1px 1px 3px 3px #2A3439; */
  letter-spacing: 1px;
}
.appContainer .containerRight .contentSection .aboutContainer .expertise .specialty i {
  font-size: 2rem;
  color: #228B22;
}
.appContainer .containerRight .contentSection .aboutContainer .expertise .specialty div p {
  margin-top: 2vh;
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .aboutContainer #divider {
  display: flex;
  justify-content: center;
}
.appContainer .containerRight .contentSection .aboutContainer #divider span {
  width: 30vw;
  height: 2px;
  border-radius: 10px;
  background-color: #228B22;
}
.appContainer .containerRight .contentSection .aboutContainer .icons {
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding: 10px;
}
.appContainer .containerRight .contentSection .aboutContainer .icons i {
  color: #228B22;
  font-size: 1.8rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.appContainer .containerRight .contentSection .aboutContainer .icons i:hover {
  transform: scale(1.5); /* Slightly enlarges the icon */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0, 0.2); /* Adds depth */
  cursor: pointer;
}
.appContainer .containerRight .contentSection .resumeContainer .education,
.appContainer .containerRight .contentSection .resumeContainer .experience,
.appContainer .containerRight .contentSection .resumeContainer .expertise,
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary {
  padding-left: 5vw;
}
.appContainer .containerRight .contentSection .resumeContainer .education .educationTop,
.appContainer .containerRight .contentSection .resumeContainer .experience .experienceTop,
.appContainer .containerRight .contentSection .resumeContainer .expertise .expertiseTop,
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary .skillsSummaryTop {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.appContainer .containerRight .contentSection .resumeContainer .education .educationTop i,
.appContainer .containerRight .contentSection .resumeContainer .experience .experienceTop i,
.appContainer .containerRight .contentSection .resumeContainer .expertise .expertiseTop i,
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary .skillsSummaryTop i {
  color: #228B22;
}
.appContainer .containerRight .contentSection .resumeContainer .education ul,
.appContainer .containerRight .contentSection .resumeContainer .expertise ul,
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul {
  padding-left: 2.3vw;
}
.appContainer .containerRight .contentSection .resumeContainer .education ul li,
.appContainer .containerRight .contentSection .resumeContainer .expertise ul li,
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li {
  text-indent: 1.5vw;
}
.appContainer .containerRight .contentSection .resumeContainer .education ul li::marker,
.appContainer .containerRight .contentSection .resumeContainer .expertise ul li::marker,
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li::marker {
  color: #C0C0C0;
  font-size: 30px;
  vertical-align: middle;
}
.appContainer .containerRight .contentSection .resumeContainer .education ul li p:first-of-type {
  padding: 10px 0;
  color: #228B22;
}
.appContainer .containerRight .contentSection .resumeContainer .education ul li p:nth-of-type(2) {
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .resumeContainer .expertise ul li p {
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li div {
  display: flex;
  gap: 1vw;
  align-items: center;
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li div p:nth-of-type(2) {
  width: 10vw;
  height: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: #3B3C36;
  border-radius: 5px;
}
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:first-of-type div p:nth-of-type(2) span {
  width: 8.5vw;
  background-color: #228B22;
  border-radius: 5px;
}
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:nth-of-type(2) div p:nth-of-type(2) span {
  width: 7.5vw;
  background-color: #228B22;
  border-radius: 5px;
}
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:nth-of-type(3) div p:nth-of-type(2) span {
  width: 4.5vw;
  background-color: #228B22;
  border-radius: 5px;
}
.appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:nth-of-type(4) div p:nth-of-type(2) span {
  width: 3vw;
  background-color: #228B22;
  border-radius: 5px;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioTop {
  width: inherit;
  margin-top: 1.5vh;
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioTop button {
  background-color: #1B1B1B;
  color: white;
  padding: 2px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioTop button.active {
  color: #228B22;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody {
  width: inherit;
  height: max-content;
  padding-top: 2vh;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer {
  width: inherit;
  height: max-content;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  margin-bottom: 5vh;
  /* padding: 2px; */
  border: 1px solid gray;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteLeft,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidLeft {
  width: 30vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteLeft img,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidLeft img {
  width: 27vw;
  max-height: 80vh;
  height: inherit;
  object-fit: cover;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteLeft i,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidLeft i {
  color: #228B22;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight {
  width: 25vw;
  height: inherit;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight h3,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight h3 {
  display: flex;
  justify-content: center;
  color: #228B22;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight p:first-of-type,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight p:first-of-type {
  text-align: center;
  letter-spacing: 1px;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight p:nth-of-type(2),
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight p:nth-of-type(2) {
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight p:nth-of-type(2) span,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight p:nth-of-type(2) span {
  color: #228B22;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight div,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight div {
  display: flex;
  justify-content: center;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight div a {
  text-decoration: none;
  /* background-color: white; */
  padding: 3px;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  color: #228B22;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .graphicsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .graphicsContainer .graphicsImage {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .graphicsContainer .graphicsImage:hover {
  transform: scale(1.05);
}
/* Modal styling */
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .graphicsContainer .imageViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .graphicsContainer .imageViewer img {
  max-width: 90%;
  max-height: 90%;
}
/* Styling the buttons inside:  .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .graphicsContainer .imageViewer*/
.prevBtn, .nextBtn, .closeBtn {
  position: absolute;
  font-size: 24px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
.prevBtn { left: 20px; }
.nextBtn { right: 20px; }
.closeBtn { top: 10px; right: 20px; font-size: 30px; }

/* Styling the Contact page */
.appContainer .containerRight .contentSection .contactContainer .formContainer {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form {
  width: 50vw;
  height: max-content;
  border: 1px solid #C0C0C0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div label {
  display: none;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div input {
  width: 22vw;
  height: 5vh;
  /* border: 1px solid #228B22; */
  border: none;
  border-radius: 5px;
  padding: 0 5px;
  outline: none;
  background-color: #353839;
  color: white;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div input::placeholder {
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div:nth-of-type(2) textarea {
  background-color: #353839;
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  color: white;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div:nth-of-type(2) textarea::placeholder {
  color: #C0C0C0;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div:nth-of-type(3) {
  display: flex;
  justify-content: center;
}
.appContainer .containerRight .contentSection .contactContainer .formContainer form div:nth-of-type(3) button {
  padding: 5px;
  border: none;
  background-color: #228B22;
  color: white;
  border-radius: 5px;
}

/* light theme styling */
.containerLeft.light {
  background-color: white;
  color: #111111;
}
.containerRight.light {
  background-color: white;
  color: black;
}
.appContainer .containerLeft.light .containerLeftTop.light .details .name_profession p {
    background-color: #C0C0C0;
}
.appContainer .containerLeft.light .containerLeftBody.light .contact p:nth-of-type(2) {
  color: #343434;
}
.appContainer .containerLeft.light .containerLeftBottom.light div section {
  color: #343434;
}
.appContainer .containerRight.light .top button {
  background-color: white;
  color: black;
}
.appContainer .containerRight.light .top button.active {
  color:  #228B22;
}
.appContainer .containerRight.light .contentSection .aboutContainer #bio {
  color: #343434;
}
.appContainer .containerRight.light .contentSection .aboutContainer .expertise .specialty {
  background-color: #F7F7F7;
  box-shadow: 1px 1px 3px 3px #C0C0C0;
}
.appContainer .containerRight.light .contentSection .aboutContainer .expertise .specialty div p {
  color: #343434;
}
.appContainer .containerRight.light .contentSection .resumeContainer .education ul li::marker,
.appContainer .containerRight.light .contentSection .resumeContainer .expertise ul li::marker,
.appContainer .containerRight.light .contentSection .resumeContainer .skillsSummary ul li::marker {
  color: #343434;
}
.appContainer .containerRight.light .contentSection .resumeContainer .education ul li p:nth-of-type(2) {
  color: #343434;
}
.appContainer .containerRight.light .contentSection .resumeContainer .expertise ul li p {
  color: #343434;
}
.appContainer .containerRight.light .contentSection .resumeContainer .skillsSummary ul li div {
  color: #343434;
}
.appContainer .containerRight.light .contentSection .portfolioContainer .portfolioTop button {
  background-color: #F7F7F7;
  color: #1B1B1B;
}
.appContainer .containerRight.light .contentSection .portfolioContainer .portfolioTop button.active {
  color: #228B22;
}
.appContainer .containerRight.light .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight p:nth-of-type(2),
.appContainer .containerRight.light .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight p:nth-of-type(2) {
  color: #1B1B1B;
}
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight div a,
.appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight div a {
  border: 1px solid #1B1B1B;
  background-color: white;
}
.appContainer .containerRight.light .contentSection .contactContainer .formContainer form div input {
  background-color: #E5E4E2;
  color: black;
}
.appContainer .containerRight.light .contentSection .contactContainer .formContainer form div input::placeholder {
  color: #353839;
}
.appContainer .containerRight.light .contentSection .contactContainer .formContainer form div:nth-of-type(2) textarea {
  background-color: #E5E4E2;
  color: black;
}
.appContainer .containerRight.light .contentSection .contactContainer .formContainer form div:nth-of-type(2) textarea::placeholder {
  color: #353839;
}