.appContainer {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
.appContainer .containerLeft {
  width: 25vw;
  height: inherit;
}
.appContainer .containerRight {
  width: 60vw;
  height: inherit;
}
.appContainer .containerRight .top {
  width: inherit;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
}
.appContainer .containerRight .body {
  width: inherit;
  height: 80vh;
}