@media only screen and (max-width: 900px) {
    body {
        height: max-content;
        overflow-y: scroll;
    }
    .appContainer {
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
        overflow-y: scroll;
    }
    .appContainer .containerLeft {
        width: 100vw;
        height: max-content;
    }
    .appContainer .containerLeft .content {
        width: 90vw;
    }
    .appContainer .containerLeft .content .containerLeftTop {
        height: 30vh;
    }
    .appContainer .containerLeft .content .containerLeftTop .icon {
        display: flex;
        justify-content: end;
    }
    .appContainer .containerLeft .content .containerLeftTop .icon button {
        border: none;
        background-color: #B8860B;
        padding: 2px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .appContainer .containerLeft .content .containerLeftTop .icon button i {
        color: white;
        font-size: 1rem;
    }
    .appContainer .containerLeft .content .containerLeftTop .details {
        display: flex;
        flex-direction: row;
    }
    .appContainer .containerLeft .content .containerLeftTop .details img {
        width: 30vw;
        height: 20vh;
    }
    .appContainer .containerLeft .content .containerLeftBody {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    .appContainer .containerLeft .content .containerLeftBody.show {
        max-height: 300px;
    }
    .appContainer .containerRight {
        width: 100vw;
        height: max-content;
        min-height: 100vh;
    }
    .appContainer .containerRight .top {
        position: fixed;
        bottom: 0;
        /* width: 100%; */
        background-color: #3B3C36;
    }
    .appContainer .containerRight .top button {
        background-color: #3B3C36;
    }
    .appContainer .containerRight .contentSection {
        width: inherit;
        height: max-content;
        overflow-y: hidden;
        padding-bottom: 5vh;
    }
}