@media only screen and (max-width: 900px) {
    body {
        height: max-content;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .appContainer {
        width: 100vw;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        align-items: center;
        padding-top: 2vh;
        /* overflow-y: scroll; */
        overflow-x: hidden;
    }
    .appContainer .containerLeft {
        width: 95vw;
        height: max-content;
        padding-bottom: 0;
        overflow-y: hidden;
    }
    .appContainer .containerLeft .content {
        width: 85vw;
    }
    .appContainer .containerLeft .content .containerLeftTop {
        height: 30vh;
    }
    .appContainer .containerLeft .content .containerLeftTop .icon {
        display: flex;
        justify-content: end;
    }
    .appContainer .containerLeft .content .containerLeftTop .icon button {
        border: none;
        background-color: #1B1B1B;
        padding: 2px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .appContainer .containerLeft .content .containerLeftTop .icon button i {
        color: #228B22;
        font-size: 1rem;
    }
    .appContainer .containerLeft .content .containerLeftTop .details {
        display: flex;
        flex-direction: row;
    }
    .appContainer .containerLeft .content .containerLeftTop .details img {
        width: 35vw;
        height: 18vh;
    }
    .appContainer .containerLeft .content .containerLeftTop .details .name_profession h3 {
        font-size: 1rem;
    }
    .appContainer .containerLeft .content .containerLeftBody,
    .appContainer .containerLeft .content .containerLeftBottom {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    .appContainer .containerLeft .content .containerLeftBody.show,
    .appContainer .containerLeft .content .containerLeftBottom.show {
        max-height: 300px;
    }
    .appContainer .containerLeft .containerLeftBody .contact {
        gap: 5vw;
    }
    .appContainer .containerRight {
        width: 100vw;
        height: max-content;
        /* min-height: 100vh; */
        padding-bottom: 10vh;
    }
    .appContainer .containerRight .top {
        position: fixed;
        bottom: 0;
        /* width: 100%; */
        background-color: #3B3C36;
    }
    .appContainer .containerRight .top button {
        background-color: #3B3C36;
    }
    .appContainer .containerRight .contentSection {
        width: inherit;
        height: max-content;
        overflow-y: hidden;
        padding-bottom: 2vh;
    }
    .appContainer .containerRight .contentSection .aboutContainer #underline span,
    .appContainer .containerRight .contentSection .resumeContainer #underline span,
    .appContainer .containerRight .contentSection .portfolioContainer #underline span,
    .appContainer .containerRight .contentSection .contactContainer #underline span {
        width: 10vw;
    }
    .appContainer .containerRight .contentSection .aboutContainer .expertise {
        justify-content: center;
    }
    .appContainer .containerRight .contentSection .aboutContainer .expertise .specialty {
        width: 80vw;
    }
    .appContainer .containerRight .contentSection .resumeContainer .education ul,
    .appContainer .containerRight .contentSection .resumeContainer .expertise ul,
    .appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul {
        padding-left: 6vw;
    }
    .appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li div p:nth-of-type(2) {
        width: 20vw;
        height: 6px;
    }
    .appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:first-of-type div p:nth-of-type(2) span {
        width: 17vw;
    }
    .appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:nth-of-type(2) div p:nth-of-type(2) span {
        width: 15vw;
    }
    .appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:nth-of-type(3) div p:nth-of-type(2) span {
        width: 9vw;
    }
    .appContainer .containerRight .contentSection .resumeContainer .skillsSummary ul li:nth-of-type(4) div p:nth-of-type(2) span {
        width: 6vw;
    }
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website,
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android {
        display: flex;
        flex-direction: column;
        padding: 2vh 0;
    }
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteLeft,
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidLeft {
        width: 90vw;
    }
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteLeft img,
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidLeft img {
        width: 85vw;
    }
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .websiteContainer .website .websiteRight,
    .appContainer .containerRight .contentSection .portfolioContainer .portfolioBody .androidContainer .android .androidRight {
        width: 90vw;
    }
    
    /* Light */
    .appContainer .containerLeft.light .content .containerLeftTop .icon button {
        border: none;
        background-color: white;
    }
    .appContainer .containerRight.light .top {
        background-color: white;
    }
}